{% extends "layout.html" %}
{% block title %}
    The biggest photographic film database in the world
{% endblock title %}
{% block content %}
    <footer class="footer">
        <p>
            The biggest photographic film database in the world! Search by name, code or DX number.
            <br>
            Find when a film is discontinued, who made it, who rebrands it. Have fun!
        </p>
    </footer>
    <aside class="dxblock">
        <form action='{{ url_for("search") }}'
              method="get"
              name="search-film"
              id="search-film">
        </form>
        <h3>
            Search by DX number
            <img src="{{ url_for('static', path='images/dx_code.webp') }}"
                 alt="Canister with a Dx code"
                 width="300"
                 height="158"
                 loading="lazy">
        </h3>
        <p>
            <br>
            Please enter the DX full number (6 digits):
            <br>
            <input minlength="1"
                   maxlength="6"
                   pattern="[0-9]+"
                   type="text"
                   name="dx_full"
                   placeholder="DX full barcode (6 digits)"
                   form="search-film">
            <button type="submit" form="search-film">Search</button>
            <br>
            <br>
            You can also search by DX number parts 1 and 2:
            <br>
            <input minlength="1"
                   maxlength="10"
                   pattern="[0-9]+.+[0-9]+.*"
                   type="text"
                   name="dx_number"
                   placeholder="DX number (eg: 115-10)"
                   form="search-film">
            <button type="submit" form="search-film">Search</button>
        </p>
    </aside>
    <article class="filmblock">
        <h3>
            Search by name
            <img src="{{ url_for('static', path='images/films.webp') }}"
                 alt="Funny films"
                 width="300"
                 height="158"
                 loading="lazy">
        </h3>
        <p>
            <br>
            Please enter film name (eg: "kodak portra 160")
            <br>
            <input maxlength="255"
                   type="text"
                   name="name"
                   placeholder="Model Name"
                   form="search-film">
            <button type="submit" form="search-film">Search</button>
            <br />
            <br>
            You can also search by manufacturer:
            <br />
            <input maxlength="255"
                   type="text"
                   name="manufacturer"
                   placeholder="Manufacturer"
                   form="search-film">
            <button type="submit" form="search-film">Search</button>
        </p>
    </article>
{% endblock content %}
{% block footer %}
    <p>
        {{ total_count }} films in database.
        <br>
        Random film: <a href="{{ url_for('read_film', url_name=film['url_name']) }}">{{ film['name'] }}</a>
    </p>
{% endblock footer %}
