<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"
              name="viewport"
              content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
            - The Big Film Database
        </title>
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', path='css/film2.css') }}?v=3">
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <h1>
                    <a href={{ url_for("index_page") }}>The Big Film Database</a>
                    <a class="title-disclaimer"
                       href="#disclaimer"
                       title="About this independent version"
                       aria-label="About this independent version"><sup>Extended</sup></a>
                </h1>
            </header>
            {% block content %}{% endblock %}
            <footer class="footer">
                {% block footer %}{% endblock %}
                <p id="disclaimer" tabindex="-1">
                    <strong><sup class="title-disclaimer">✱</sup> IMPORTANT: I am not the original author of the Big Film Database.</strong>
                    This website is a based on <a target="_blank"
    href="http://industrieplus.alwaysdata.net/dxdatabase/">The Big Film Database</a> © 2018 by Dxdatabase, licensed under CC BY-SA 4.0 (<a target="_blank"
   href="https://github.com/dxdatabase/Open-source-film-database">source code</a>). Film box images belong to their respective copyright holders and are excluded from this license.
                    <br>
                    This version includes modifications. I'm trying to add features (search by DXN, show film edge barcode) and to improve search performances. You can try the <a href="/docs">API</a>, in alpha stage. The source code is available for the <a target="_blank"
    href="https://github.com/merinorus/thebigfilmdatabase-website">website</a> and the <a href="https://github.com/merinorus/Open-source-film-database"
    target="_blank">database</a>.
                    <br />
                    <br>
                    <a target="_blank"
                       href="https://35mm-compact.com/forum/viewtopic.php?p=1060412#p1060412">The future of this website is under discussion on the 35mm-compact.com forum (in French)</a>.
                </p>
                <p>
                    <a href="{{ url_for("index_page") }}">The Big Film Database</a> is in beta version with no warranty. If you don't understand this page, <a href="{{ url_for("help_page") }}">read the help!</a>
                </p>
            </footer>
        </div>
    </body>
</html>
