<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"
              name="viewport"
              content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
            - The Big Film Database
        </title>
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', path='css/film2.css') }}">
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <h1>
                    <a href={{ url_for("index_page") }}>The (Modified) Big Film Database</a>
                </h1>
            </header>
            <footer class="footer">
                <p>
                    <strong>IMPORTANT! I am not the original author of the Big Film Database.</strong>
                    <br>
                    This website is a modified version of <a target="_blank"
    href="http://industrieplus.alwaysdata.net/dxdatabase/">The Big Film Database</a>, which is still available (as of June, 2025) and whose <a target="_blank"
    href="https://github.com/dxdatabase/Open-source-film-database">the source code has recently been published on GitHub</a>.
                    Likewise, you can find on GitHub the source code of this <a target="_blank"
    href="https://github.com/merinorus/thebigfilmdatabase-website">modified website</a>, as well as the <a href="https://github.com/merinorus/Open-source-film-database"
    target="_blank">modified database</a>.
                    <br />
                    <br />
                    I'm trying to add features (search by DXN, show film edge barcode) and to improve search performances. You can try the <a href="/docs">API</a>, in alpha stage.
                    <br>
                    <a target="_blank"
                       href="https://35mm-compact.com/forum/viewtopic.php?p=1060412#p1060412">The future of this website is under discussion on the 35mm-compact.com forum (in French)</a>.
                </p>
            </footer>
            {% block content %}{% endblock %}
            <footer class="footer">
                {% block footer %}{% endblock %}
                <p>
                    <a href="{{ url_for("index_page") }}">The Big Film Database</a> is in beta version with no warranty. If you don't understand this page, <a href="{{ url_for("help_page") }}">read the help!</a>
                </p>
            </footer>
        </div>
    </body>
</html>
