{% extends "layout.html" %}
{% block title %}
    Search results
{% endblock title %}
{% block content %}
    <div class="footer">
        <p>
            Found {{ count }} films.
            {% if too_many_results %}Results are cropped, please narrow your search.{% endif %}
            <br>
            <a href='{{ url_for("index_page") }}'>Search for another film</a>
        </p>
    </div>
    {% for film in films %}
        <footer class="footer">
            {% if film.picture %}
                <img src="{{ film.picture }}"
                     class="filmpicture"
                     align="right"
                     alt="{{ film.name }}"
                     loading="lazy">
            {% endif %}
            <strong><a href="{{ url_for('read_film', url_name=film.url_name) }}">{{ film.name }}</a></strong>
            <br />
            <br />
            {% if film.og_film_or_information %}
                <strong>Information / Suspected emulsion:</strong> {{ film.og_film_or_information }}
                {% if film.reliability %}
                    - certitude:
                    <img src="{{ film.reliability_img }}"
                         style="height: 1.5em;
                                width:auto;
                                vertical-align: middle"
                         alt="certitude {{ film.reliability }}/4">
                {% endif %}
                <br />
            {% endif %}
            {% if film['dx_number'] %}
                <strong>DX number:</strong> <a href="{{ url_for("search") }}?dx_number={{ film['dx_number'] }}">{{ film['dx_number'] }}</a>
                <br />
            {% endif %}
            {% if film['dx_extract'] %}
                <strong>DX extract :</strong> <a href="{{ url_for("search") }}?dx_extract={{ film.dx_extract }}">{{ film.dx_extract }}</a>
                <br />
            {% endif %}
            {% if film.dx_full %}
                <strong>DX Full code :</strong> <a href="{{ url_for("search") }}?dx_full={{ film.dx_full }}">{{ film.dx_full }}</a>
                <br />
            {% endif %}
            {% if film.dx_film_edge_barcode_svg() %}
                <strong>DX Film Edge barcodes :</strong><span title="DX Film Edge Barcode (old format, without frame number)">{{ film.dx_film_edge_barcode_svg() | safe }}</span> or <span title="DX Film Edge Barcode (frame number = 0)">{{ film.dx_film_edge_barcode_svg(0) | safe }}</span>
                <br />
            {% endif %}
            {% if film.og_film_or_information %}
                <strong>Original Film or information :</strong> {{ film.og_film_or_information }}
                <br />
            {% endif %}
            {% if film.manufacturers %}
                <strong>Manufacturer :</strong>
                {% for manufacturer in film.manufacturers %}
                    <a href="{{ url_for("search") }}?manufacturer={{ manufacturer }}">{{ manufacturer }}</a>
                    {% if not loop.last %},{% endif %}
                {% endfor %}
                <br />
            {% endif %}
            {% if film.country %}
                <strong>Origin :</strong> {{ film.country }}
                <br />
            {% endif %}
            {% if film.begin_year %}
                <strong>Beginning year :</strong> {{ film.begin_year }}
                <br />
            {% endif %}
            {% if film.end_year %}
                <strong>End year :</strong> {{ film.end_year }}
                <br />
            {% endif %}
            {% if film.distributor %}
                <strong>Distributor :</strong> {{ film.distributor }}
                <br />
            {% endif %}
            <strong>Availability :</strong> {{ film.availability_label | safe }}
            <br />
            <br />
        </footer>
    {% endfor %}
    {% if not films %}<p>No results found</p>{% endif %}
    {% if film_type %}
        <p>Manufacturer and film type (calculated from DX code, not very accurate...): {{ film_type }}</p>
    {% endif %}
{% endblock content %}
